<a href="https://colab.research.google.com/github/sushily1997/Python_Code_Practice/blob/main/Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python code
1)Write the programs for Maximum and Minimum Of Three Numbers

                                a=int(input("Enter First Number:"))
                                b=int(input("Enter Second Number:"))
                                c=int(input("Enter Third Number:"))
                                max=a if a>b and a>c else b if b>a and b>c else c
                                print("Maximum Value:",max)


2)Given a string, write a python function to check if it is palindrome or not. A string is said to be palindrome if the reverse of the string is the same as string. For example, “radar” is a palindrome, but “radix” is not a palindrome.

                    def ispalindrome(num):
                    num1=str(num)
                    num2=num1[::-1]
                    num3=int(num2)
                    if num == num3:
                      print("yes")
                    else:
                      print("no")
                  ispalindrome(1234321)

3)Python Program for n-th Fibonacci number


    # Function for nth Fibonacci number
 
    def Fibonacci(n):
        if n<= 0:
            print("Incorrect input")
        # First Fibonacci number is 0
        elif n == 1:
            return 0
        # Second Fibonacci number is 1
        elif n == 2:
            return 1
        else:
            return Fibonacci(n-1)+Fibonacci(n-2)
 
    # Driver Program
    print(Fibonacci(10))

4)Python Program for cube sum of first n natural numbers

    def sumOfSeries(n):
        sum = 0
        for i in range(1, n+1):
            sum +=pow(i,3)
            
        return sum
    
      
    # Driver Function
    n = 8
    print(sumOfSeries(n))

5)Python program to find second largest number in a list

    # List of numbers
    list1 = [10, 20, 20, 4, 45, 45, 45, 99, 99]
    
    # Removing duplicates from the list
    list2 = list(set(list1))
    
    # Sorting the  list
    list2.sort()
    
    # Printing the second last element
    print("Second largest element is:", list2[-2])

# SQL
1) Show first name, last name, and gender of patients who's gender is 'M'

> SELECT first_name, last_name,gender from patients where gender = 'M'

2)
Show first name and last name of patients who does not have allergies. (null)

> SELECT first_name, last_name from patients where allergies is null

3)Show first name of patients that start with the letter 'C'

> SELECT first_name "Name" from patients where  first_name like 'C%'

4)Show first name and last name of patients that weight within the range of 100 to 120 (inclusive)

> select first_name,last_name from patients where weight BETWEEN 100 AND 120