<a href="https://colab.research.google.com/github/sushily1997/Python_Code_Practice/blob/main/python_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Question 1
Level 1

Question: Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

Hints: Consider use range(#begin, #end) method

Solution:

In [1]:
l=[]
for i in range(2000,3201):
  if(i%7==0) and (i%5!=0):
    l.append(str(i))

print(','.join(l))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

# Question 2
Level 1

Question: Write a program which can compute the factorial of a given numbers. The results should be printed in a comma-separated sequence on a single line. Suppose the following input is supplied to the program: 8 Then, the output should be: 40320

Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

Solution:

In [ ]:
def fact(x):
  if x==0:
    return 1
  return x * fact (x-1)

x= int(input())
print(fact(x))

5
120

# Question 3
Level 1

Question: With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary. Suppose the following input is supplied to the program: 8 Then, the output should be: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

Hints: In case of input data being supplied to the question, it should be assumed to be a console input. Consider use dict()

Solution:

In [ ]:
n=int(input())
d=dict()
for i in range(1,n+1):
  d[i]=i*i

print(d)

4
{1: 1, 2: 4, 3: 9, 4: 16}

# Question 4
Level 1

Question: Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number. Suppose the following input is supplied to the program: 34,67,55,33,12,98 Then, the output should be: ['34', '67', '55', '33', '12', '98'] ('34', '67', '55', '33', '12', '98')

Hints: In case of input data being supplied to the question, it should be assumed to be a console input. tuple() method can convert list to tuple

Solution:

In [ ]:
values=input()
l=values.split(",")
t=tuple(l)
print(l)
print(t)

1,2,3,4
['1', '2', '3', '4']
('1', '2', '3', '4')

# Question 5
Level 1

Question: Define a class which has at least two methods: getString: to get a string from console input printString: to print the string in upper case. Also please include simple test function to test the class methods.

Hints: Use init method to construct some parameters

Solution:

In [ ]:
class InputOutString(object):
      def __init__(self):
           self.s = ""

      def getString(self):
                    self.s = input()
                              
      def printString(self):
                                          
          print(self.s.upper())

strObj = InputOutString()
strObj.getString()
strObj.printString()

aekdg273JSGK
AEKDG273JSGK

# Question 6 Level 1

Write the programs for Maximum and Minimum Of Three Numbers

In [ ]:
# Program for Maximum of 3 Numbers
a=int(input("Enter First Number:"))
b=int(input("Enter Second Number:"))
c=int(input("Enter Third Number:"))
max=a if a>b and a>c else b if b>a and b>c else c
print("Maximum Value:",max)

Enter First Number:23
Enter Second Number:45
Enter Third Number:97
Maximum Value: 97

In [ ]:
# Program for Minimum of 3 Numbers
a=int(input("Enter First Number:"))
b=int(input("Enter Second Number:"))
c=int(input("Enter Third Number:"))
min=a if a<b and a<c else b if b<a else c
print("Minimum Value:",min)

Enter First Number:23
Enter Second Number:97
Enter Third Number:45
Minimum Value: 23

# Question 7 Level 1
# ㅤㅤㅤㅤ                                                        𝘄𝗿𝗶𝘁𝗲 𝗮 𝗽𝘆𝘁𝗵𝗼𝗻 𝗽𝗿𝗼𝗴𝗿𝗮𝗺 𝘁𝗼 𝗳𝗶𝗻𝗱 𝗮𝗿𝗲𝗮 𝗼𝗳 𝗰𝗶𝗿𝗰𝗹𝗲

In [ ]:
# Important variables
'''pi = 3.14
   inf = infinity
   nan = not a number'''

'pi = 3.14\n   inf = infinity\n   nan = not a number'

In [ ]:
PI = 3.14
r = float(input("Enter the radius of a circle:"))
area = PI * r * r
print("Area of a circle = %.2f" %area)

Enter the radius of a circle:56
Area of a circle = 9847.04

# Question 8
Level 2

Question: Write a program that accepts a comma separated sequence of words as input and prints the words in a comma-separated sequence after sorting them alphabetically. Suppose the following input is supplied to the program: without,hello,bag,world Then, the output should be: bag,hello,without,world

Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

Solution:

In [ ]:
items=[x for x in input().split(',')]
items.sort()
print(','.join(items))

As,ga,us,f,ek,a,is,hf,m,ka,l,
,As,a,ek,f,ga,hf,is,ka,l,m,us

# Question 9
Level 2

Question£º Write a program that accepts sequence of lines as input and prints the lines after making all characters in the sentence capitalized. Suppose the following input is supplied to the program: Hello world Practice makes perfect Then, the output should be: HELLO WORLD PRACTICE MAKES PERFECT

Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

Solution:

In [ ]:
def capitalize_line(string=""):
    """Capitalize and add a newline to the input str(if present)"""
    inp = input("enter: ").upper()
    string = "\n".join([string, inp]) if string and inp else "".join([string, inp])
    if not inp:
        print(string)
        return string
    return capitalize_line(string=string)

In [ ]:

lines = []
while True:
    s = input()
    if s:
        lines.append(s.upper())
    else:
        break;

for sentence in lines:
    print (sentence)

In [ ]:
lines=[]
s=input()
if s:
    lines.append(s.upper())
     
for senetence  in lines:
  print( senetence)

a,d,f,g
A,D,F,G

# Question 10
Level 2

Question: Write a program that accepts a sequence of whitespace separated words as input and prints the words after removing all duplicate words and sorting them alphanumerically. Suppose the following input is supplied to the program: hello world and practice makes perfect and hello world again Then, the output should be: again and hello makes perfect practice world

Hints: In case of input data being supplied to the question, it should be assumed to be a console input. We use set container to remove duplicated data automatically and then use sorted() to sort the data.

Solution:

In [ ]:
s = input()
words = [word for word in s.split(",")]
print(" ".join(sorted(list(set(words)))))

h,d,3,c,d,3,d,c,h,c,s,3,s,h,d,c,3
3 c d h s

# Question 11

Write a program that accepts a comma separated sequence of words as input and prints the words in a comma-separated sequence after sorting them alphabetically.
Suppose the following input is supplied to the program: without,hello,bag,world
Then, the output should be: bag,hello,without,world

In [ ]:
items=[x for x in input().split(',')]
items.sort()
print(','.join(items))

h,d,3,c,d,3,d,c,h,c,s,3,s,h,d,c,3
3,3,3,3,c,c,c,c,d,d,d,d,h,h,h,s,s

# Q1. Python program to check if a string is palindrome or not Given a string, write a python function to check if it is palindrome or not. A string is said to be palindrome if the reverse of the string is the same as string. For example, “radar” is a palindrome, but “radix” is not a palindrome.

Method #1

Find reverse of string Check if reverse and original are same or not.

In [17]:
def ispalendrome(s):
  return(s==s[::-1])

s=input()
ans=ispalendrome
if ans:
  
  print("no")
else:
  print("yes")

radix
no

In [18]:
def ispalendrome(s):
  return(s==s[::-1])

s=input()
ans=ispalendrome
if ans:
  print("yes")
else:
  print("no")

geeks
yes

In [ ]:
# Python program to check
# if a string is palindrome
# or not
 
x = "radix"
 
w = ""
for i in x:
    w = i + w
 
if (x == w):
    print("Yes")
else:
    print("No")

No

# Q1. Python program to check if a string is palindrome or not

Given a string, write a python function to check if it is palindrome or not. A string is said to be palindrome if the reverse of the string is the same as string. For example, “radar” is a palindrome, but “radix” is not a palindrome.

Examples: 

Input : malayalam

Output : Yes



Input : geeks

Output : No

**Method #1**

1. Find reverse of string

2. Check if reverse and original are same or not.

In [19]:
def ispalendrome(s):
  return(s==s[::-1])

s=input()
ans=ispalendrome
if ans:
  print("yes")
else:
  print("no")

radar
yes

Method using one extra variable: In this method, the user takes a character of string one by one and store it in an empty variable. After storing all the characters user will compare both the string and check whether it is palindrome or not.

In [20]:

# Python program to check
# if a string is palindrome
# or not
 
x = "malayalam"
 
w = ""
for i in x:
    w = i + w
 
if (x == w):
    print("Yes")
else:
    print("No")

Yes

Method using flag: In this method, the user compares each character from starting and ending in a for loop and if the character does not match then it will change the status of the flag. Then it will check the status of the flag and accordingly and print whether it is a palindrome or not.

In [21]:
# Python program to check
# if a string is palindrome
# or not
st = 'malayalam'
j = -1
flag = 0
for i in st:
    if i != st[j]:
        flag = 1
        break
    j = j - 1
if flag == 1:
    print("NO")
else:
    print("Yes")

Yes

# Q2. Remove all duplicates from a given string in Python

We are given a string and we need to remove all duplicates from it? What will be the output if the order of character matters?

 Examples:

Input : geeksforgeeks 

Output : efgkors

This problem has existing solution please refer Remove all duplicates from a given string. 

**Method 1:**

In [22]:
from collections import OrderedDict
 
# Function to remove all duplicates from string
# and order does not matter
def removeDupWithoutOrder(str):
 
    # set() --> A Set is an unordered collection
    #         data type that is iterable, mutable,
    #         and has no duplicate elements.
    # "".join() --> It joins two adjacent elements in
    #             iterable with any symbol defined in
    #             "" ( double quotes ) and returns a
    #             single string
    return "".join(set(str))
 
# Function to remove all duplicates from string
# and keep the order of characters same
def removeDupWithOrder(str):
    return "".join(OrderedDict.fromkeys(str))
 
# Driver program
if __name__ == "__main__":
    str = "geeksforgeeks"
    print ("Without Order = ",removeDupWithoutOrder(str))
    print ("With Order = ",removeDupWithOrder(str))

Without Order =  ekforgs
With Order =  geksfor

**Method 2:**

In [23]:
def removeDuplicate(str):
    s=set(str)
    s="".join(s)
    print("Without Order:",s)
    t=""
    for i in str:
        if(i in t):
            pass
        else:
            t=t+i
        print("With Order:",t)
     
str="geeksforgeeks"
removeDuplicate(str)

Without Order: ekforgs
With Order: g
With Order: ge
With Order: ge
With Order: gek
With Order: geks
With Order: geksf
With Order: geksfo
With Order: geksfor
With Order: geksfor
With Order: geksfor
With Order: geksfor
With Order: geksfor
With Order: geksfor

In [24]:
def removeDuplicate(str):
    s=set(str)
    s="".join(s)
    print("Without Order:",s)
    t=""
    for i in str:
        if(i in t):
            pass
        else:
            t=t+i
    print("With Order:",t)
     
str="Python is easy language"
removeDuplicate(str)

Without Order: ieuahoP lngtys
With Order: Python isealgu

# Q3 All prime numbers in range

In [26]:
lower =900
upper =1000

for num in range (lower,upper+1):
   if num>1:
       for i in range(2,num):
           if num%i==0:
              break
       else:
          print(num)

907
911
919
929
937
941
947
953
967
971
977
983
991
997

In [ ]:
# Python program to display all the prime numbers within an interval

lower = 900
upper = 1000

print("Prime numbers between", lower, "and", upper, "are:")

for num in range(lower, upper + 1):
   # all prime numbers are greater than 1
   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           print(num)

Prime numbers between 900 and 1000 are:
907
911
919
929
937
941
947
953
967
971
977
983
991
997

In [ ]:
list1=[42,52,13,74,12,19,27]
for i in range(len(list1)):
  for j in range(i):
    if list1[i]<list1[j]:
      list1[i],list1[j]=list1[j],list1[i]
print(list1)

[12, 13, 19, 27, 42, 52, 74]

In [ ]:
lower = 900
upper = 1000

for num in range(lower,upper+1):
    for i in range(2,int(num/2)+1):
      if num%i==0:
       break
    else:
        print(num)

907
911
919
929
937
941
947
953
967
971
977
983
991
997

In [ ]:
lst=[12,1,5,1,6,8,4,6]
for i in range(len(lst)):
  for j in range(i):
    if lst[i]>lst[j]:
      lst[i],lst[j]=lst[j],lst[i]
print(lst)

[12, 8, 6, 6, 5, 4, 1, 1]

In [ ]:
up=1000
lw=900
for num in range(lw,up+1):
  for i in range(2,int(num/2)+1):
    if(num%i==0):
      break
  else:
    print(num)

907
911
919
929
937
941
947
953
967
971
977
983
991
997

In [ ]:
n=5
for i in range (n, 0, -1):
    print( * ' ' + i * '*')

  * * * * *
  * * * *
  * * *
  * *
  *

In [ ]:
for i in range (n,0,-1):
  print(*" ",+i * ' * ')

   *  *  *  *  *
   *  *  *  *
   *  *  *
   *  *
   *

In [ ]:
for i in range(0,n,1):
  print(* " ",+ i * " * ")

   *
   *  *
   *  *  *
   *  *  *  *

In [ ]:

n=15
for i in range (0,n,1):
  print(* ' ' +i * ' * ')

    *
    *     *
    *     *     *
    *     *     *     *
    *     *     *     *     *
    *     *     *     *     *     *
    *     *     *     *     *     *     *
    *     *     *     *     *     *     *     *
    *     *     *     *     *     *     *     *     *
    *     *     *     *     *     *     *     *     *     *
    *     *     *     *     *     *     *     *     *     *     *
    *     *     *     *     *     *     *     *     *     *     *     *
    *     *     *     *     *     *     *     *     *     *     *     *     *
    *     *     *     *     *     *     *     *     *     *     *     *     *     *

In [ ]:
def fib(n):
  if n<0 :
    print('Incorrect Input')
  elif n ==1 :
    return 0
  elif n==2 :
    return 1
  else:
    return fib(n-1)+fib(n-2)
fib(10)

34

In [ ]:
def fib(n):
  if n<0:
    print("incorrect output")
  elif n==1:
    return 0
  elif n==2:
    return 1
  else:
    return fib(n-1)+fib(n-2)
fib(10)

34

In [ ]:
sentence = "I love programming in Python. How about you?"
''.join(sentence[-i] for i in range(1, len(sentence)+1))

'?uoy tuoba woH .nohtyP ni gnimmargorp evol I'

#  How can I make a tuple out of a list?
We can transform a list into a tuple using the Python tuple() method. Since a tuple is immutable, we can't update the list after it has been converted to a tuple.

In [ ]:
month = ['jan','feb','mar','apr','may','jun','jul','aug','sep','oct','nov','dec']  
converting_list = tuple(month)  
print(converting_list)  
print(type(converting_list))

('jan', 'feb', 'mar', 'apr', 'may', 'jun', 'jul', 'aug', 'sep', 'oct', 'nov', 'dec')
<class 'tuple'>

# Is it possible to build a Python program that reverses a number?
Python program to reverse number:

Code

In [ ]:
n = int(input("Enter number: "))  
  
reverse = 0  
  
while(n>0):  
    digit = n%10  
    reverse = reverse*10+digit  
    n=n//10  
print("The reverse of the number:",reverse)

Enter number: 35257
The reverse of the number: 75253

# Q2. Remove all duplicates from a given string in Python

We are given a string and we need to remove all duplicates from it? What will be the output if the order of character matters?

 Examples:

Input : geeksforgeeks 

Output : efgkors

This problem has existing solution please refer Remove all duplicates from a given string. 

**Method 1:**

In [ ]:
from collections import OrderedDict
 
# Function to remove all duplicates from string
# and order does not matter
def removeDupWithoutOrder(str):
 
    # set() --> A Set is an unordered collection
    #         data type that is iterable, mutable,
    #         and has no duplicate elements.
    # "".join() --> It joins two adjacent elements in
    #             iterable with any symbol defined in
    #             "" ( double quotes ) and returns a
    #             single string
    return "".join(set(str))
 
# Function to remove all duplicates from string
# and keep the order of characters same
def removeDupWithOrder(str):
    return "".join(OrderedDict.fromkeys(str))
 
# Driver program
if __name__ == "__main__":
    str = "geeksforgeeks"
    print ("Without Order = ",removeDupWithoutOrder(str))
    print ("With Order = ",removeDupWithOrder(str))

Without Order =  skrgofe
With Order =  geksfor