<a href="https://colab.research.google.com/github/sushily1997/Python_Code_Practice/blob/main/python_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Question 1
Level 1

Question: Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

Hints: Consider use range(#begin, #end) method

Solution:

In [ ]:
l=[]
for i in range(2000,3201):
  if(i%7==0) and (i%5!=0):
    l.append(str(i))

print(','.join(l))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

Question 2
Level 1

Question: Write a program which can compute the factorial of a given numbers. The results should be printed in a comma-separated sequence on a single line. Suppose the following input is supplied to the program: 8 Then, the output should be: 40320

Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

Solution:

In [ ]:
def fact(x):
  if x==0:
    return 1
  return x * fact (x-1)

x= int(input())
print(fact(x))

5
120

Question 3
Level 1

Question: With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary. Suppose the following input is supplied to the program: 8 Then, the output should be: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

Hints: In case of input data being supplied to the question, it should be assumed to be a console input. Consider use dict()

Solution:

In [ ]:
n=int(input())
d=dict()
for i in range(1,n+1):
  d[i]=i*i

print(d)

4
{1: 1, 2: 4, 3: 9, 4: 16}

Question 4
Level 1

Question: Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number. Suppose the following input is supplied to the program: 34,67,55,33,12,98 Then, the output should be: ['34', '67', '55', '33', '12', '98'] ('34', '67', '55', '33', '12', '98')

Hints: In case of input data being supplied to the question, it should be assumed to be a console input. tuple() method can convert list to tuple

Solution:

In [ ]:
values=input()
l=values.split(",")
t=tuple(l)
print(l)
print(t)

1,2,3,4
['1', '2', '3', '4']
('1', '2', '3', '4')

Question 5
Level 1

Question: Define a class which has at least two methods: getString: to get a string from console input printString: to print the string in upper case. Also please include simple test function to test the class methods.

Hints: Use init method to construct some parameters

Solution:

In [ ]:
class InputOutString(object):
      def __init__(self):
           self.s = ""

      def getString(self):
                    self.s = input()
                              
      def printString(self):
                                          
          print(self.s.upper())

strObj = InputOutString()
strObj.getString()
strObj.printString()

aekdg273JSGK
AEKDG273JSGK

Question 6 Level 1

Write the programs for Maximum and Minimum Of Three Numbers

In [19]:
# Program for Maximum of 3 Numbers
a=int(input("Enter First Number:"))
b=int(input("Enter Second Number:"))
c=int(input("Enter Third Number:"))
max=a if a>b and a>c else b if b>a and b>c else c
print("Maximum Value:",max)

Enter First Number:23
Enter Second Number:45
Enter Third Number:97
Maximum Value: 97

In [18]:
# Program for Minimum of 3 Numbers
a=int(input("Enter First Number:"))
b=int(input("Enter Second Number:"))
c=int(input("Enter Third Number:"))
min=a if a<b and a<c else b if b<a else c
print("Minimum Value:",min)

Enter First Number:23
Enter Second Number:97
Enter Third Number:45
Minimum Value: 23

Question 7 Level 1


# ã…¤ã…¤ã…¤ã…¤ã…¤ã…¤ã…¤ã…¤ã…¤ã…¤ã…¤ã…¤                                                          ð˜„ð—¿ð—¶ð˜ð—² ð—® ð—½ð˜†ð˜ð—µð—¼ð—» ð—½ð—¿ð—¼ð—´ð—¿ð—®ð—º ð˜ð—¼ ð—³ð—¶ð—»ð—± ð—®ð—¿ð—²ð—® ð—¼ð—³ ð—°ð—¶ð—¿ð—°ð—¹ð—²

In [4]:
# Important variables
'''pi = 3.14
   inf = infinity
   nan = not a number'''

'pi = 3.14\n   inf = infinity\n   nan = not a number'

In [3]:
PI = 3.14
r = float(input("Enter the radius of a circle:"))
area = PI * r * r
print("Area of a circle = %.2f" %area)

Enter the radius of a circle:56
Area of a circle = 9847.04